@charset "UTF-8";
body{
	background-image : url("Sources/kce-background.png");
	background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}
.LogForm{
	margin-top : 300px;
    font-size: 20px;
}